*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.b{
    height: 500px;
    width: 500px;
    border-radius: 20px;
    transition: 0.8s;
    box-shadow: 0px 0px 30px inset black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.b:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px inset black;
}
.b:active{
    box-shadow: 0px 0px 5px inset black;
    transform: scale(1.2);
}

.c{
    height: 400px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px inset;
    transition: 0.8s;

    display: flex;
    align-items: center;
    justify-content: center;
}
.c:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px inset;
}
.c:active{
    box-shadow: 0px 0px 5px inset black;
    transform: scale(1.2);
}

.d{
    height: 300px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px inset;
    transition: 0.8s;

    display: flex;
    align-items: center;
    justify-content: center;
}
.d:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px inset;
}
.d:active{
    box-shadow: 0px 0px 5px inset black;
    transform: scale(1.2);
}

.e{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px inset;
    transition: 0.8s;

    display: flex;
    align-items: center;
    justify-content: center;
}
.e:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px inset;
}
.e:active{
    box-shadow: 0px 0px 5px inset black;
    transform: scale(1.2);
}

.f{
    height: 100px;
    width: 100px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px inset;
    transition: 0.8s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px inset;
}
.f:active{
    box-shadow: 0px 0px 5px inset black;
    transform: scale(1.2);
}
